.place {
    display: grid;
    grid-template-columns: 46.7% 49.1%;
    grid-template-rows: min-content 1fr;
    row-gap: 48px;
    column-gap: 40px;
    margin-bottom: 80px;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1279px) {
    .place {
    
    }
}